.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .div-main-one {
    display: flex;
    height: 50%;
    width: 100%;
    .div-one {
      background-color: black;
      height: 100%;
      width: 50%;
      border: 1px solid rgba(0, 42, 81, 0.25);
    }
    .div-two {
      background: #c4c4c4;

      height: 100%;
      width: 50%;
      border: 1px solid rgba(0, 42, 81, 0.25);
    }
  }
  .div-main-two {
    height: 50%;
    width: 100%;
    display: flex;
    .div-three {
      height: 100%;
      width: 50%;
      border: 1px solid rgba(0, 42, 81, 0.25);
      .div-three-one {
        height: 28%;
        width: 100%;
        display: flex;

        .div-three-one-one {
          width: 20%;
          height: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 50%;
          }
        }
        .div-three-one-two {
          width: 80%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3 {
            margin: 0px;
          }
          p {
            margin: 0px;
          }
        }
      }
      .div-three-two {
        height: 20%;
        width: 100%;
        display: flex;

        .div-three-two-inner {
          width: 20%;
          height: 100%;
          background: #ffffff;
          border-top: 1px solid rgba(0, 42, 81, 0.25);

          border-left: 1px solid rgba(0, 42, 81, 0.25);
          border-radius: 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h3 {
            color: #002a51;
            margin: 0px;
          }
          p {
            margin: 0px;
            color: #5a6876;
          }
        }
      }

      .div-three-three {
        height: 21%;
        width: 100%;
        background-color: #002a51;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          color: white;
          font-size: 1.1vw;
          margin: 0px;
        }
        h3 {
          color: white;
          font-size: 2.3vw;
          margin: 0px;
        }
      }
      .div-three-four {
        height: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3 {
          color: #002a51;
          font-size: 1.8vw;
        }
        .div-three-four-inner {
          background: #ffffff;
          border: 1px solid #182542;
          width: 55%;
          text-align: center;
          input {
            width: 100%;
            margin: 0px;
            color: #002a51;
            padding: 10px;
            font-size: large;
            text-align: center;
            border: none;
          }
        }
      }
    }

    .div-four {
      height: 100%;
      width: 50%;
      border: 1px solid rgba(0, 42, 81, 0.25);
      overflow-x: hidden;
      .div-four-top {
        height: 28%;
        width: 100%;

        .div-four-top-one {
          margin: 1px;
          width: 18%;
          height: 100%;
          p {
            margin: 0px;
            color: white;
          }

          .ant-upload {
            display: flex;
            flex-direction: column;
            margin: 1.5%;
            height: 95%;
            width: 100%;
          }
          .ant-upload-picture-card-wrapper {
            height: 100%;
            width: 100%;
          }
          .ant-upload-select-picture-card {
            background: rgba(24, 37, 66, 0.5);
            height: 95%;
            border: none;
            width: 100%;
            padding: 1vw;
          }
        }
        .div-four-top-two {
        }
      }
      .div-four-one {
        height: 18%;
        width: 100%;
        padding: 10px;
        display: flex;
        background: #ffffff;
        border-top: 1px solid rgba(0, 42, 81, 0.25);
        border-bottom: 1px solid rgba(0, 42, 81, 0.25);
        .chat-input-div {
          width: 100%;
          .chat-input {
            overflow-wrap: break-word;
            color: #959595;
            width: 100%;
            border: 1px solid rgba(160, 161, 163, 0.25);
            height: 100%;

            border-radius: 6px;
          }
        }

        .image-div {
          width: 7%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          img {
            align-items: center;
            height: 60%;
          }
        }
      }
      .div-four-two {
        height: 82%;
        width: 100%;
        overflow-y: scroll;
        .div-four-two-inner {
          padding: 8px;
          border-bottom: 1px solid rgba(0, 42, 81, 0.25);
          justify-content: space-evenly;
          display: flex;
          align-items: center;
          height: 20%;
          width: 100%;
          img {
            width: 3%;
          }
          p {
            margin: 0px;
            color: #959595;
          }
        }
      }
      .div-four-three {
        background-color: #002a51;
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          margin: 0px;
          color: white;
          font-size: large;
        }
      }
    }
  }
}
