.titletext{
    color: #186AB4;
    font-size: 20px;
    margin:auto;
    margin-top:6rem
}
.meeting-ag{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat";
    .wrapper{
        display: flex;
        flex-direction: column;
        margin: auto;
        .join-srt-btn{
            text-align: center;
            width: 75%;
            margin-left: 15%;
            height: 65px;
            padding: 15px;
            background: #FE5777;
            border: 3px solid #FE5777;
            box-sizing: border-box;
            color: #fff !important;
            font-size: 1.2rem;
            margin-top: 6rem;
            font-weight: bold;
        }
    }
}

.theinput1{
    border:none;
    margin-top:1rem;
    font-size:30px;
    margin-left:-80px;
    width:150%;
    text-align: center;
    color: #186AB4;
}
.theinput1::placeholder{
    font-size: 30px;
    margin-top: 1rem;
    // margin: auto;
    z-index: 1000;
    color: #186AB4;
    height: 150%;
    opacity: 0.35;
    padding:10px
}
.linktitle{
    font-size: 20px;
    text-align: center;
    color: #186AB4;
    margin-top: 7rem;
}
.meeting-btn-ag1{
    border: 1px solid #186AB4;
    background: #186AB4;
    font-size: 21px;
    line-height: 17px;
    width: 260px;
    text-align: center;
    padding: 15px;
    margin-left: 20px;
    font-family: "Montserrat";
    color: white;
    margin-top: 4.5rem;
    font-weight: 500;
}
.enterlink{
    font-size: 20px;
    font-family: "Montserrat";
    color: #186AB4;
    text-align: center;
}
.thecpybtn{
    margin-right: 15px;
    float: right;
    margin-top: 3px;
}
.linkstyle{
    margin-top: 10px;
    display: flex;
    border: 0.5px solid #186AB4;
}
.btnmtng{
    width:350px;
    display:flex
}
.thelinkgen{
    margin-top: 1rem;
    background: white;
    border: 0.5px solid #186AB4;
    font-size: 20px;
    color: #186AB4;
    padding: 10px;
    width: 429px;
}
.thelinkgen:hover{
    text-decoration:underline
}
.customize-link1{
    bottom: 0;
    position: fixed;
    width: 370px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
     h5{
        color: #186AB4;
        font-size: 20px;
    }
}
.under-line{
    text-decoration: underline;
    font-weight: bold;
    color:#1F6BB4
}
.center-align{
    text-align: center;
    overflow: hidden;
}
.alig12{
    margin-left: -25%;
}
.meeting-btn-ag2{
    border: 1px solid #186AB4;
    background: #186AB4;
    font-size: 21px;
    /* line-height: 200px; */
    width: 270px;
    text-align: center;
    padding: 10px;
    font-family: "Montserrat";
    color: white;
    margin-top: 4.5rem;
    font-weight: 500;
}
.btnstyle2{
    border: none;
    background:white;
    margin-top: 2rem;
}
.btnstyle2:focus{
    outline: none;
}
.imgsty2{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border:1px solid #186AB4
}
.thebtuns{
    display: flex;
    flex-direction: column;
}
.nextbtnalig{
    margin-left: auto;
    margin-right: auto;
}