.meetings-drawer-configure {
  height: 100%;
  width: 100%;
  .meetings-heading-configure {
    display: flex;
    padding: 2vw;
    // padding-left: 2vw;
    h3 {
      font-size: 1.3vw;
      margin: 0px;
      padding-left: 14px;
    }
  }
  .meetings-body-configure {
    height: 88%;
    padding: 2vw;
    // padding-left: 30px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .div-1 {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border: 0.5px solid #dfdde2;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
      height: 35%;
      width: 100%;
      animation: left 1s forwards;
      .div-top {
        display: flex;
        justify-content: space-between;
        h3 {
          margin-left: 5px;
          font-size: 1.3vw;
          margin: 0px;
        }
      }

      p {
        margin: 0px;
        font-size: 0.7vw;
        font-style: normal;
        font-weight: 300;
      }
      div {
        width: 100%;
        display: flex;
        button {
          background-color: white;
          padding: 7px;
          width: 30%;
          /* margin-left: -8px; */
          font-size: 0.5vw;
          margin-right: 7px;
          border: 0.5px solid #dfdde2;
          font-weight: bold;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          outline: none;
        }
      }
    }
    .div-2 {
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border: 0.5px solid #dfdde2;
      height: 45%;
      overflow: scroll;
      width: 100%;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      h2 {
        margin: 0px;
        font-size: 0.7vw;
        font-style: normal;
        font-weight: 300;
      }
      h3 {
        margin: 0px;
        font-size: 1.5vw;
        margin: 0px;
      }
      .copy-1 {
        width: 100%;
        height: 4.5vh;
        display: flex;
        border: 0.5px solid #dfdde2;
        button {
          display: flex;
          align-items: center;
          p {
            margin: 0px;
            text-overflow: ellipsis;
            align-items: center;
            font-size: 0.5vw;
          }
        }
        img {
          align-self: center;
          padding: 5px;
          width: 40px;
          height: 25px;
        }
        .ant-select-selector {
          height: 100%;
          font-size: 0.7vw;
          outline: none;
          align-items: center;
        }
        select {
          border: 0.5px solid #dfdde2;
          outline: none;
          font-size: 0.7vw;

          padding: 10px;
          option {
          }
        }
        input {
          border: 0.5px solid #dfdde2;
          outline: none;
          width: 80%;
          font-size: 0.7vw;
          text-align: center;
        }
      }
      .copy {
        width: 100%;
        height: 25%;
        display: flex;
        img {
          height: 25px;
        }
        button {
          width: 100%;
          border: 0.5px solid #dfdde2;
          outline: none;

          img {
          }
        }
      }

      .buttons {
        width: 100%;
        button {
          width: 35%;
          border: 0.5px solid #dfdde2;
          outline: none;

          padding: 8px;
          border-radius: 4px;
          margin: 4px;
          font-size: 0.7vw;
          img {
            height: 10px;
            margin-right: 10px;
          }
        }
      }
    }
    .div-2::-webkit-scrollbar {
      display: none;
    }
    .div-3 {
      border: 0.5px solid #dfdde2;
      height: 23%;
      width: 100%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      p {
        margin-top: -0.5vh;
        font-size: 0.7vw;
      }
      div {
        display: flex;
        justify-content: inherit;
        img {
          height: 5vh !important;
        }
      }
    }
  }
}
#idInput {
  width: 100%;
  border: 0.5px solid #cec5c5;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@keyframes left {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 100;
    scale: 1;
  }
}
