.add-style {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #3b4859;
}
.main-style {
  display: flex;
  margin-bottom: 24px;
}
.maintitle-sty {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-left: 7px;
}
.market-place-dashboard {
  height: 100%;
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
hr {
  border: 2px solid #ff7675;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  position: relative;
  display: block;
  color: white;
  font-size: 14px;
  font-family: "montserrat";
  font-weight: 300;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #ff7675;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  text-align: center;
}
.btn::before {
  background: #ff7675 !important;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
  text-align: center;
}

.btn1::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.btn1:hover::before {
  height: 380%;
}

.btn3::before {
  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.btn3:hover::before {
  height: 380%;
}
.market-place-drawer {
  width: 30%;
  height: calc(100% - 130px);
  right: 0;
  z-index: 1;
  position: absolute;
  margin-top: -15px;
  overflow: hidden;
  animation: move-left-drawer linear 0.3s 1;
  font-family: Montserrat;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  // height: 93.5%;
  background-color: white !important;

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (min-width: 767px) and (max-width: 1045px) {
    width: 40%;
  }
  .meeting-heading {
    display: flex;
    justify-content: flex-start;
    img {
      width: 10px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
    }
  }
  .meetings-body {
  }
}

@keyframes move-left-drawer {
  0% {
    width: 0%;
    height: 100%;
  }
  100% {
    width: 30%;
    height: 100%;
  }
}

.crd-style {
  border: none;
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
  border-radius: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-bottom: 12px;
}
.title-sty {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  margin-left: 7px;
}
.img-sty {
  width: 22px;
  height: 22px;
  margin-top: -6px;
}
.titleimg-sty {
  margin: 20px 35px 10px;
}
.thecount {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  float: right;
  margin-top: 2px;
}
.body-sty {
  margin-left: 40px;
  width: 340px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  color: #3b4859;
  margin-bottom: 1.4rem;
}
.button-sty {
  margin-left: 7px;
  font-family: "Montserrat";
  margin-bottom: 2rem;
  background: #186ab4;
  border-color: #186ab4;
  color: #fff;
  padding: 4px 20px;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border: none;
}
.button-sty:focus,
.footer:focus {
  outline: none;
}
.button-sty:hover,
.footer:hover {
  background-color: cornflowerblue;
}
.sty1 {
  margin-left: 40px;
}
.sty2 {
  margin-bottom: 120px;
}
.adjust-title {
  font-family: "Montserrat";
  margin: 27px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #186ab4;
}
input[type="email"] {
  font-family: "Montserrat";
  border: none;
  margin-left: 30px;
  margin-bottom: 25px;
}
::-webkit-input-placeholder {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 18px;
  color: rgba(33, 33, 33, 0.25);
}
input:focus {
  outline: none;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 560px;
  margin-left: -24px;
  background: #186ab4;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

.theadmin-sty {
  margin-left: 25px;
  font-family: "Montserrat";
}
.img-dimen {
  width: 30px;
  height: 30px;
  margin-top: 7px;
}
.title-adj {
  margin-top: 4px;
}
.email-adj {
  margin-top: -16px;
  margin-left: 8px;
  font-size: 10px;
}
.sty1 {
  margin-bottom: 0.4rem;
}
.profile-sty {
  font-weight: bold;
}
.button-sty1 {
  margin-left: 7px;
  font-family: "Montserrat";
  margin-bottom: 2rem;
  background: white;
  color: #186ab4;
  padding: 4px 20px;
  font-size: 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border: 1px solid #186ab4;
}
.btn-styy {
  margin-left: 32px;
}
.button-sty1:hover {
  background: aliceblue;
}
//  .button-sty1:focus{
//      outline: none;
//  }
.search-sty {
  width: 280px;
  border: 1px solid #186ab4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  margin-bottom: 31px;
}
//  input[type = text]::placeholder{
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 12px;
//     left: 21px;
//     color: #186AB4;
//  }
.button-search-sty {
  height: 34px;
  border: 1px solid #186ab4;
  background: white;
  width: 120px;
  color: #186ab4;
  font-size: 13px;
  border-left: none;
  border-right: none;
}
.button-sty1:focus,
.button-search-sty:focus,
.search-ico-sty:focus {
  outline: none;
}
.search-ico-sty {
  height: 34px;
  width: 37px;
  border: 1px solid #186ab4;
  background: #186ab4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}
.empty-sty {
  font-size: 20px;
  text-align: center;
  margin-top: 10vh;
  font-family: "Montserrat";
  color: #186ab4;
  font-weight: bold;
}
.balance-sty {
  float: right;
  margin-top: -32px;
  margin-left: 21rem;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat";
}
.balance-titlesty {
  float: right;
  margin-top: -22px;
  margin-left: 21rem;
  font-size: 9px;
  font-family: "Montserrat";
}
::-webkit-scrollbar {
  display: none !important;
}
.arrow-sty {
  float: right;
  border-radius: 5px;
  background-color: #186ab4;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  padding: 5px;
  font-family: "Montserrat";
}
.arrow-sty:focus {
  outline: none;
}
.arrow-sty:hover {
  background: #495c9b;
}
.gxcheck-sty {
  text-align: center;
  color: #186ab4;
  font-style: italic;
  font-family: "Montserrat";
}
.usrnm-sty {
  color: #186ab4;
  font-family: "Montserrat";
  font-weight: bold;
}
.gxtitle-sty {
  color: #186ab4;
}
.whitearrow-sty {
  float: left;
  padding: 20px;
  background: #186ab4;
  margin-left: -24px;
  position: fixed;
  bottom: 0;
  cursor: pointer;
}
.centerbtn-sty {
  border: none;
  background: #186ab4;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat";
  margin-top: 2px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 503px;
  margin-left: 33px;
  text-align: center;
  padding-right: 64px;
}
.centerbtn-sty:focus {
  outline: none;
}
.thetext-styy1 {
  margin-left: 28px;
  border: none;
  margin-bottom: 19px;
  width: 430px;
}
.outer {
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.validation-chk {
  color: #186ab4;
  font-weight: bold;
}
.drop-sty {
  margin-left: 15px;
  font-family: "Montserrat";
  margin-bottom: 15px;
}
// input[type=tel]{
//     color: #186AB4;
//     border: none;
//     border-bottom: 1px solid #186AB4;

// }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.resend-sty {
  position: fixed;
  bottom: 43px;
  text-align: end;
  color: #186ab4;
  font-family: "Montserrat";
}
.btnresnd-sty {
  border: none;
  background: #186ab4;
  color: white;
}
.btnresnd-sty:focus {
  outline: none;
}
.widthcard {
  width: 250px;
}
.namewidth {
  width: 220px;
}
.adj {
  margin-left: auto;
}

.theimage-styy::before {
  content: "Browse";
  height: 40px;
  width: 350px;
  border-radius: 6px;
  background-color: #186ab4;
  color: #fff;
  border: 1px solid #999;
  white-space: nowrap;
  -webkit-user-select: none;
  font-family: "Montserrat";
  padding: 15px;
}
.theimage-styy {
  cursor: pointer;
  margin-left: 28px;
  border: none;
  margin-bottom: 19px;
}
.theimage-styy::-webkit-file-upload-button {
  visibility: hidden;
}
.img-stye {
  width: 57px;
  height: 57px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: -35px;
}
.img-styeee{
  width: 57px;
  height: 57px;
  margin-right: auto;
  border-radius: 30px;
  margin-left: 40px;
}
.img-stye1 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  max-height: 225px;
  margin-bottom: 20px;
}
.thedrop-stye1 {
  margin-left: 28px;
  margin-bottom: 19px;
}
.textarea-width {
  width: 460px;
}
.addprofilesubmit {
  position: unset;
  margin-bottom: 17px;
}
.coverprofile-sty {
  width: 510px;
  height: 210px;
  border-radius: 20px;
  border: 1px solid #186ab4;
}
.profileimage-sty12 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -80px;
  border-radius: 100px;
  height: 100px;
  border: 3px solid white;
  position: relative;
}
.usrnm-styee {
  text-align: center;
  font-family: "Montserrat";
  color: #186ab4;
  font-weight: 600;
}
.userdtl-stye {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 20px;
}
.inf-stye {
  padding-left: 50px;
  color: #186ab4;
  font-family: "Montserrat";
  font-weight: 600;
}
.colon-stye {
  margin-left: auto;
  margin-right: auto;
}
.data-stye {
  padding-right: 50px;
  font-family: "Montserrat";
  margin-left: auto;
}
.thestye135 {
  padding-left: 50px;
}
.styll {
  padding-top: 25px;
}
.fonts1 {
  font-size: 12px;
}
.thebtmsty {
  margin-bottom: 0.6rem;
}
.inputtitle {
  border: none;
  margin-left: 25px;
  margin-bottom: 1.5rem;
}
.inputtxtarea {
  border: none;
  margin-left: 25px;
  width: 480px;
}
.inputtxtarea:focus {
  outline: none;
}
.inputtitle:focus {
  outline: none;
}
.theclausesty {
  margin-left: 25px;
  color: #186ab4;
  font-family: "Montserrat";
  margin-bottom: 10px;
  margin-top: 3px;
  margin-left: 25px;
}
.theinpclausesty {
  margin-left: 50px;
  margin-bottom: 12px;
  border: 1px solid lightgray;
}
.theminusbtn {
  margin-left: 8px;
  margin-top: 6px;
}
.addclausebtn {
  width: 470px;
  margin-bottom: 20px;
  margin-left: 25px;
}
.marginsty {
  margin-left: 25px;
}
.thebtm {
  margin-bottom: 0px;
}
.btmste {
  margin-bottom: 18px;
}
.thekeysty {
  color: #186ab4;
  font-weight: bold;
}
.adjstyle {
  margin-left: 20px;
}
.thetitlesty {
  margin-top: 20px;
  margin-left: 20px;
}
.thepadsty {
  padding: 50px;
}
.the-adjwid {
  width: 100%;
}
.thestart-img {
  text-align: end;
  max-height: 800px;
  overflow: scroll;
}
.thestart-imgico {
  width: 700px;
  // height: 33.33%;
}
.thestage {
  font-size: 4.5vw;
  font-family: "Montserrat";
  color: #186ab4;
  font-weight: bold;
  margin-top: -20px;
}
.the-data {
  font-size: 1vw;
  font-family: "Montserrat";
  line-height: 2vw;
  margin-top: -50px;
  width: 40vw;
  text-align: justify;
}
.ant-drawer-mask {
  opacity: 0 !important;
}
.ant-drawer-left.ant-drawer-open,
.ant-drawer-right.ant-drawer-open {
  // margin-top: -5px !important;
  // position: absolute;
  // height: 77% !important;
  // height: -webkit-fill-available !important;
}
.ant-drawer-body {
  // margin-top: -24px;
  // margin-left: -26px;
}
.ant-drawer-content-wrapper {
  // width: 34vw !important;
  height: 110% !important;
  box-shadow: none !important;
  border: 1px solid #f0f0f0;
}
.theimg-sdj {
  width: 34vw;
  height: 22vw;
}
.ant-drawer {
  height: 101% !important;
}
.thestream-style {
  margin-top: -39px;
  position: relative;
  padding-top: -10px;
  margin-left: 205px;
  background: #fe5777;
  border: none;
  padding: 0 20px;
  height: 40px;
  font-weight: bold;
  color: white;
  font-family: "Montserrat";
  z-index: 1000;
  float: right;
  top: 65px;
}
.theoffice {
  margin-top: 150px;
  margin-left: 51px;
  font-size: 40px;
  font-weight: 600;
  line-height: 0px;
}
.thevail {
  margin-left: 51px;
  line-height: 20px;
  font-size: 18px;
  font-weight: 300;
}
table {
  font-family: "Montserrat";
  border-collapse: collapse;
  width: 75%;
  margin-left: 51px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.thebt-sty {
  background-color: white;
  border: 0.25px solid #dfdde2;
  padding: 8px;
  font-size: 12px;
  margin-left: 10px;
  float: right;
}
.thebt-sty:focus {
  outline: none;
}
.thein-sty {
  border: none;
  margin-left: 10px;
  font-weight: 600;
  margin-top: 6px;
}
.theali {
  // display: flex;
  flex-direction: row;
}
.theofc-sty {
  border: 0.5px solid #ebebeb;
  margin-top: 75px;
  width: 90%;
  height: 37vw;
}
.titleofc {
  margin-top: 50px;
  font-size: 40px;
  margin-left: 50px;
  font-weight: 600;
}
.dataofc {
  margin-left: 50px;
  margin-top: -20px;
  margin-right: 30px;
}
.themsg-display {
  margin-left: 51px;
  font-weight: 600;
  margin-top: 20px;
}
.thebt-dis {
  margin-left: 51px;
  padding: 10px;
  background-color: #186ab4;
  color: white;
  margin-top: 20px;
  border: none;
  font-weight: 600;
  font-family: "Montserrat";
}
.subdomain-liststy {
  margin-left: 51px;
  font-size: 30px;
  font-weight: 700;
}
.subdomain-titlesty {
  margin-left: 51px;
  font-size: 20px;
  font-weight: 700;
}
.ant-tabs-tab.ant-tabs-tab-active {
  font-weight: 700 !important;
  color: #186ab4 !important;
}
.ant-tabs-tab:hover {
  color: #186ab4 !important;
}
.ant-tabs-tab:focus {
  outline: none !important;
}
.ant-tabs-tab {
  font-weight: 700 !important;
  margin-left: 30px !important;
}
.boards {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin: 0 20px;
  svg {
    margin: auto 0;
    height: 20px;
    width: 20px;
  }
  .itm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #186ab4;
  }
  &.active {
    font-weight: bold;
  }
}
.divider {
  border-left: 2px solid #ebebeb;
  height: 20px;
  margin: auto 0;
}
.market-place-drawer1 {
  width: 25%;
  height: 100%;
  right: 0;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  animation: move-left-drawer linear 0.3s 1;
  font-family: Montserrat;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  // height: 93.5%;
  background-color: white;

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (min-width: 767px) and (max-width: 1045px) {
    width: 30%;
  }
}
.header-profile {
  font-size: 26px;
  margin: 21px 0px 21px 20px;
  font-weight: 700;
  color: #186ab4;
}
.under-line {
  border-bottom: rgba(204, 204, 204, 0.2) solid 2px;
}
.status {
  width: 30%;
  background: white;
  border: 1px solid #ebebeb;
  height: 40px;
  font-weight: 700;
  color: #186ab4;
  cursor: auto;
}
.status:focus,
.status-display:focus,
.thebottom-btn:focus {
  outline: none;
}
.status-display {
  background-color: #186ab4;
  color: white;
  font-weight: 700;
  border: 0.25px solid #ebebeb;
  width: 70%;
  cursor: auto;
}
.thegoogle-ico1 {
  margin: 20px 50px 20px 20px;
  display: flex;
  cursor: pointer;
}
.thebottom-btn {
  bottom: 0;
  background-color: #fe5777;
  color: white;
  font-weight: 700;
  width: 100%;
  position: absolute;
  cursor: auto;
  border: 0.5px solid #ebebeb;
  font-size: 20px;
  height: 60px;
}
.header-profile1 {
  margin: -5px 0px 26px 20px;
  font-weight: 700;
  color: #186ab4;
  width: 200px;
  font-size: 20px;
}
.the-account {
  margin: 30px;
  cursor: pointer;
}
.thecards-size {
  margin-top: -5px !important;
  position: absolute;
  height: 93% !important;
}
.the-img-sty {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 80px;
}
.thekeysty1 {
  color: #186ab4;
  font-weight: bold;
  margin-left: 25px;
}
.thebtn-idsty{
  margin-left: auto;
  border: none;
  font-size: 25px;
}
.thebtn-idsty:focus{
  outline: none;
}
.theclose-ico{
  color: red;
  margin-left: auto;
}
@media only screen and (min-height: 800px) {
  // .thestart-imgico{
  //     width: 67%;
  // }
  .thestart-img {
    max-height: 1200px;
  }
}
@media only screen and (max-height: 990px) {
  .ant-drawer {
    height: 104% !important;
  }
}
