.thetext{
    margin-top: 40px;
font-family: "Montserrat";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #186AB4;
}
.theimg{
    display: block;
    width: 1053px;
    margin-left: auto;
    margin-right: auto;
}
.theappimg{
    margin-top: 20px !important;
    margin-left: 20px !important;
    cursor: pointer;
}
.thetext1{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #186AB4;
        line-height: 24px;
        margin-bottom: 10px;
}
.thebuttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
}
.thebtn-sty{
    font-family: "Montserrat";
    background: white;
    width: 291px;
    height: 77px;
    font-size: 17px;
    border: 0;
    font-weight: 600;
}
.thebtn-sty:focus{
    outline: none;
}
.btn1{
    background-color: #186AB4;
    color: white;
}
.btn2{
    border: 0.5px solid #3485C0;
    color: #186AB4;
}
.btn3{
    background-color: #463ba1;
    color: white;
}
.btn4{
        border: 0.5px solid #463ba1;
        color: #463ba1;
}
.sty{
    color: #463ba1;
}