.stream-video-options {
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;

  .stream-video-options-container {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    margin-left: 30%;

    button {
      position: relative;
      outline: none;
      border: 0;
      background: white;
      height: auto;
      margin-right: 10px;
      padding: 10px 12px;
      border-radius: 10%;
      &:hover {
        span {
          display: block;
        }
      }
      span {
        display: none;
        position: absolute;
        top: -30px;
        left: 50%;
        padding: 3px;
        border-radius: 4px;
        transform: translateX(-50%);
        background-color: white;
        color: black;
        width: auto;
        font-size: 70%;
        min-width: 100%;
        white-space: nowrap;
      }
      outline: none;
      border: 0;
      height: auto;
      margin-right: 10px;
      padding: 10px 12px;
      border-radius: 10%;
      img {
        height: 2.5vh;
        width: 2.5vh;
      }
    }
    .stream-video-options-center {
      background-color: white;
      align-self: center;
      padding: 8px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px -2px;
      position: absolute;
      margin-top: -8%;
    }
    .stream-video-options-center-big {
      position: absolute;
      margin-top: -26%;
      width: 75%;
      background-color: white;
      align-self: center;
      padding: 8px;
      border-radius: 50px;
      box-shadow: 0px 0px 13px -2px;
      position: absolute;
      margin-top: -16%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .stream-video-options {
    width: 100%;
    padding-left: 2vw;
  }
}
