$width: 300px;
$trans-time: 300ms;
$primary-color: #186ab4;

.login-ag-sider {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* top: 0px; */
  margin-top: -35%;
  margin-right: 6%;
  .form-wrapper-sider {
    display: flex;
    flex-direction: column;
    margin: auto 0;

    img {
      margin: 0 auto;
    }
    .login-form-sider {
      .group,
      button {
        position: relative;
        margin: 0;
        margin-top: 50px;
        margin-left: 5%;
      }
      button {
        padding: 12px;
        border-radius: 0;
        border: #fe5777 2px solid;
        font-weight: 600;
        outline: none;
        background: #fe5777;
        color: white;
      }
      input,
      button {
        width: $width;
        @media only screen and (max-width: #{768px}) {
          width: 100%;
        }
      }
      input[type='password'],
      input[type='text'] {
        background: none;
        color: #505050;
        font-size: 22px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $primary-color;
        &:focus {
          outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
          top: -14px;
          font-size: 12px;
          color: $primary-color;
        }
        &:focus ~ .bar:before {
          width: $width;
          background-color: #ffff;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px white inset !important;
      }

      input[type='password'] {
        letter-spacing: 0.3em;
      }

      label {
        color: #186ab4;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $trans-time ease all;
      }
    }
  }
}
