.terminal-live-stream {
  width: 100%;
  height: 100%;
  display: flex;
  .terminal-live-stream-video {
    width: 100%;
    height: 100%;

    .terminal-video {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      padding: 2%;
      overflow: hidden;
      .bg-image {
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
      }
      .bg-image-profile {
        z-index: 3;
        position: absolute;
        background-color: black;
        width: 14vw;
        height: 15.8%;
        left: 3.2%;
        bottom: 4vh;
      }
      .buttons {
        position: absolute;
        bottom: 5vh;
        /* left: 3vw; */
        right: 5vw;
        .grey {
          background-color: grey;
        }
        button {
          padding: 10px;
          color: white;
          background: yellowgreen;
          border: none;
          outline: none;
          margin: 0.7vw;
          box-shadow: none;
        }
      }
      .none {
        display: none;
      }
      .arrow {
        position: absolute;
        top: 3%;
        height: 4vh;
        transform: rotate(180deg);
        width: 4vh;
        right: 3%;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .none {
      display: none;
    }
  }
  .terminal-live-stream-chat {
    width: 22%;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .terminal-live-stream {
    .terminal-live-stream-video {
      width: 100%;
      height: 100%;
      .terminal-video {
        width: 100vw;
        height: 100vh;
        .bg-image-profile {
          z-index: 3;
          position: absolute;
          background-color: black;
          width: 31vw;
          height: 15.8%;
          left: 3.2%;
          bottom: 4vh;
        }
      }
    }
    .terminal-live-stream-chat {
    }
  }
}
