.footer-bets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
  border-top: solid 1px #3d414442;
}

.footer-bets .image-wrap {
  outline: none !important;
  margin-top: -22px;
  width: 100px;
  height: 92px;
  z-index: 999;
  overflow: hidden;
}

.footer-bets .image-wrap .image {
  width: 100px;
  height: 100px;
  padding: 10px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 50px;
  background: #002a51;
  border: 3px solid #e1e1e1;
  cursor: pointer;
  position: relative;
}

.footer-bets .image-wrap .image img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.footer-bets .image-wrap ul {
  position: absolute;
  bottom: 60px;
}

.footer-bets .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  background: rgba(0, 42, 81, 0.25);
}

.no-outline {
  outline: none !important;
}

.active ~ .overlay {
  display: block !important;
}

.active ~ ul {
  display: block !important;
}

.active ~ ul .menu-item {
  opacity: 1;
  bottom: -100px;
  z-index: 5;
}

.active ~ ul .menu-item:nth-child(1) {
  -webkit-transform: rotate(30deg) translateX(-200px);
          transform: rotate(30deg) translateX(-200px);
}

.active ~ ul .menu-item:nth-child(2) {
  -webkit-transform: rotate(60deg) translateX(-200px);
          transform: rotate(60deg) translateX(-200px);
}

.active ~ ul .menu-item:nth-child(3) {
  -webkit-transform: rotate(90deg) translateX(-200px);
          transform: rotate(90deg) translateX(-200px);
}

.active ~ ul .menu-item:nth-child(4) {
  -webkit-transform: rotate(120deg) translateX(-200px);
          transform: rotate(120deg) translateX(-200px);
}

.active ~ ul .menu-item:nth-child(5) {
  -webkit-transform: rotate(150deg) translateX(-200px);
          transform: rotate(150deg) translateX(-200px);
}

.active ~ ul .menu-item:nth-child(6) {
  -webkit-transform: rotate(180deg) translateX(-200px);
          transform: rotate(180deg) translateX(-200px);
}

.active ~ ul .menu-item i,
.active ~ ul .menu-item a {
  pointer-events: auto;
}

.menu-item:nth-child(1) i,
.menu-item:nth-child(1) a {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.menu-item:nth-child(2) i,
.menu-item:nth-child(2) a {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.menu-item:nth-child(3) i,
.menu-item:nth-child(3) a {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.menu-item:nth-child(4) i,
.menu-item:nth-child(4) a {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.menu-item:nth-child(5) i,
.menu-item:nth-child(5) a {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.menu-item:nth-child(6) i,
.menu-item:nth-child(6) a {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-item {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  bottom: 10px;
  width: 80px;
  height: 80px;
  display: block;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -5;
}

.menu-item span {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
}

.menu-item i,
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(0, 0, 255, 0.7);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-style: normal;
  cursor: pointer;
}

.menu-item i:hover,
.menu-item a:hover {
  -webkit-box-shadow: 0 0 0 2px #002a51;
          box-shadow: 0 0 0 2px #002a51;
  font-size: 44.44444px;
}

.menu-item i img,
.menu-item a img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
}

.menu-item i span,
.menu-item a span {
  font-size: 20px;
  color: white;
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: -55px;
  margin: auto;
  font-weight: 500;
}

.hide-bottom .footer-bets {
  display: none;
}
/*# sourceMappingURL=footer.css.map */