.footer-bets {
  display: flex;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 0.25px 4px rgba(0, 0, 0, 0.25);
  border-top: solid 1px #3d414442;
  .image-wrap {
    outline: none !important;
    margin-top: -22px;
    width: 100px;
    height: 92px;
    z-index: 999;
    overflow: hidden;
    .image {
      width: 100px;
      height: 100px;
      padding: 10px;
      object-fit: scale-down;
      border-radius: 50px;
      background: #002a51;
      border: 3px solid #e1e1e1;
      cursor: pointer;
      position: relative;
      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    ul {
      position: absolute;
      bottom: 60px;
    }
  }
  .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px;
    background: rgba(0, 42, 81, 0.25);
  }
}

.no-outline {
  outline: none !important;
}

// helpers

$toggler-size: 40px;
$toggler-color: blue;
$toggler-transition: transform 0.5s, top 0.5s;

$item-count: 6;
$item-size: $toggler-size * 2;
$item-color: blue;
$item-transition: 0.5s;

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin absolute-center {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@mixin line {
  @include size($toggler-size, $toggler-size/8);
  display: block;
  z-index: 1;
  border-radius: $toggler-size/16;
  background: rgba($toggler-color, 0.7);
  transition: $toggler-transition;
}

.active ~ .overlay {
  display: block !important;
}
.active ~ ul {
  display: block !important;
  .menu-item {
    opacity: 1;
    bottom: -100px;
    z-index: 5;
  }

  @for $i from 0 through $item-count - 1 {
    .menu-item:nth-child(#{$i + 1}) {
      transform: rotate(180deg / $item-count * ($i + 1))
        translateX(-$item-size - 120px);
    }
  }

  .menu-item i,
  .menu-item a {
    pointer-events: auto;
  }
}

@for $i from 0 through $item-count - 1 {
  .menu-item:nth-child(#{$i + 1}) i,
  .menu-item:nth-child(#{$i + 1}) a {
    transform: rotate(-180deg / $item-count * ($i + 1));
  }
}

.menu-item {
  @include absolute-center;
  bottom: 10px;
  @include size($item-size);
  display: block;
  opacity: 0;
  transition: $item-transition;
  z-index: -5;
  span {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.menu-item i,
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: $item-size;
  color: rgba($item-color, 0.7);
  // background: #002a51;
  // border: 3px solid #e1e1e1;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: $item-size/2;
  pointer-events: none;
  transition: 0.2s;
  font-style: normal;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 $item-size/40 #002a51;
    // color: $item-color;
    // background: #002344;
    font-size: $item-size/1.8;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40%;
  }
  span {
    font-size: 20px;
    color: white;
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: -55px;
    margin: auto;
    font-weight: 500;
  }
}
.hide-bottom {
  .footer-bets {
    display: none;
  }
}
