.underline-input {
  background-color: transparent;
  border-width: 0px 0px 2px 0px;
  color: #166ab3;
  border-color: #166ab3;
  width: 250px;
  border-radius: 0px;
}

.underline-input:hover {
  outline: none;
}

.underline-input:focus {
  outline: none;
}

.underline-input1 {
  background-color: transparent;
  border-width: 0px 0px 0px 0px;
  color: #166ab3;
  border-color: lightgray;
  width: 250px;
  padding: 10px;
  border-radius: 0px;
}

.underline-input1:hover {
  outline: none;
}

.underline-input1:focus {
  outline: none;
}

.input-style .ant-input {
  background: #f5f5f5;
  border-color: white;
  outline: 0;
  border: none;
  outline: none;
}

.input-style .ant-input:focus {
  border-color: white;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px #f5f5f5;
  box-shadow: 0 0 0 2px #f5f5f5;
  border: none;
  outline: none;
}

.input-style .ant-input:hover {
  border-color: white !important;
  outline: 0;
  border: none !important;
  outline: none !important;
}

.light-shadow-right {
  -webkit-box-shadow: 10px 0px 5px -9px #e6e6e6;
  box-shadow: 10px 0px 5px -9px #e6e6e6;
}

.light-shadow-left {
  -webkit-box-shadow: -1px 0px 5px 0px #e6e6e6;
  box-shadow: -1px 0px 5px 0px #e6e6e6;
}

.light-shadow-top {
  -webkit-box-shadow: 0px -10px 5px -9px #e6e6e6;
  box-shadow: 0px -10px 5px -9px #e6e6e6;
}

.light-shadow-bottom {
  -webkit-box-shadow: 0px -1px 5px 0px #cec2ce;
  box-shadow: 0px -1px 5px 0px #cec2ce;
}

.new-shadow {
  border-radius: 0px;
  background: #ffffff;
  -webkit-box-shadow: 14px 14px 28px #f2f2f2, 14px -14px 28px #ffffff;
  box-shadow: 14px 14px 28px #f2f2f2, 14px -14px 28px #ffffff;
}

.new-shadow1 {
  border-radius: 0px;
  background: #f5f5f5;
  -webkit-box-shadow: 14px 14px 28px #e9e9e9;
  box-shadow: 14px 14px 28px #e9e9e9;
}

.shadow-bottom-chat-1 {
  -webkit-box-shadow: 0px 6px 75px -31px black;
  box-shadow: 0px 6px 75px -31px black;
}

.shadow-bottom-chat-2 {
  -webkit-box-shadow: 1px 1px 5px 0px black;
  box-shadow: 1px 1px 5px 0px black;
}

.menu-itemss {
  padding: 0px 10px;
  margin: 0px 5px;
}

@font-face {
  font-family: "Lato";
  src: local("Lato"), url(../fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(../fonts/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: local("Lato"), url(../fonts/Lato-Black.ttf) format("truetype");
}

.myFont {
  font-family: Lato;
}

.group-name {
  margin: 0px;
  padding: 5px 10px;
  margin: 2px 0px;
  color: #808080;
  cursor: pointer;
}

.group-name:hover {
  background-color: #333333;
  border-radius: 5px;
  color: #b5b5b5;
}

.action-name {
  margin: 0px;
  padding: 5px 10px;
  margin: 2px 0px;
  color: lightgray;
  cursor: pointer;
}

.action-name:hover {
  background-color: lightgray;
  border-radius: 5px;
  color: #162542;
}

.selected-group {
  margin: 0px;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 5px;
  color: #b5b5b5;
}

.friend-name {
  color: #808080;
  padding: 5px 10px;
  margin: 2px 0px;
  cursor: pointer;
}

.friend-name:hover {
  background-color: #333333;
  border-radius: 5px;
  color: #b5b5b5;
}

.selected-friend {
  margin: 0px;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 5px;
  color: #b5b5b5;
}

.card-style {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 160px;
  margin: 10px;
}

.card-style1 {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 100px;
  margin: 10px;
}

.chat-input {
  border: none;
  /* padding: 10px 0px; */
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 3px !important;
  max-height: 300px;
  word-wrap: break-word;
  display: inline-block;
}

.chat-input:focus {
  border: 1px solid rgba(160, 161, 163, 0.25);
  outline: none;
}

.chat-input-dark {
  border: none;
  padding: 10px 0px;
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  border-radius: 8px;
  padding-left: 20px;
  max-height: 300px;
  word-wrap: break-word;
  display: inline-block;
}

.chat-input-dark:focus {
  /* border: none !important;
  outline: none; */
}

.chat-action-button {
  padding: 10px;
  display: none;
}

.each-chat {
  padding: 0px 10px;
  border-radius: 10px;
}

.each-chat:hover {
  background-color: #eeeeee;
}

.each-chat:hover .chat-action-button {
  display: block;
  cursor: pointer;
}

.divider-dark .ant-divider-horizontal.ant-divider-with-text-center::before,
.divider-dark .ant-divider-horizontal.ant-divider-with-text-left::before,
.divider-dark .ant-divider-horizontal.ant-divider-with-text-right::before,
.divider-dark .ant-divider-horizontal.ant-divider-with-text-center::after,
.divider-dark .ant-divider-horizontal.ant-divider-with-text-left::after,
.divider-dark .ant-divider-horizontal.ant-divider-with-text-right::after {
  border-top: solid 1px black !important;
}

.divider-light .ant-divider-horizontal.ant-divider-with-text-center::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-left::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-right::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-center::after,
.divider-light .ant-divider-horizontal.ant-divider-with-text-left::after,
.divider-light .ant-divider-horizontal.ant-divider-with-text-right::after,
.divider-light .ant-divider-horizontal.ant-divider-with-text-center::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-left::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-right::before,
.divider-light .ant-divider-horizontal.ant-divider-with-text-center::after,
.divider-light .ant-divider-horizontal.ant-divider-with-text-left::after,
.divider-light .ant-divider-horizontal.ant-divider-with-text-right::after {
  border-top: solid 1px lightgray;
}

.each-chat-dark {
  padding: 0px 10px;
  border-radius: 10px;
}

.each-chat-dark:hover {
  background-color: #2e2e2e;
}

.each-chat-dark:hover .chat-action-button {
  display: block;
  cursor: pointer;
}

.show-menubar {
  display: none;
}

.dynamic-span-chatbox {
  -webkit-column-span: 19;
  column-span: 19;
}

div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
  float: left;
  margin-left: 2px;
  color: #b3b3b3;
}

.black-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.black-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.black-scroll::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
}

.black-scroll::-webkit-scrollbar-thumb .scroll-management {
  width: 300px;
}

.white-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: white;
}

.white-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.white-scroll::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 100px;
}

.white-scroll::-webkit-scrollbar-thumb .scroll-management {
  width: 300px;
}

.gray-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: white;
}

.gray-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.gray-scroll::-webkit-scrollbar-thumb {
  background-color: gray;
  border: 5px solid gray;
  border-radius: 200px;
}

.gray-scroll::-webkit-scrollbar-thumb .scroll-management {
  width: 300px;
}

.black-scroll1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #121212;
}

.black-scroll1::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.black-scroll1::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
}

.black-scroll1::-webkit-scrollbar-thumb .scroll-management {
  width: 300px;
}

.black-scroll2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #202020;
}

.black-scroll2::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.black-scroll2::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 1px solid #555555;
}

.black-scroll2::-webkit-scrollbar-thumb .scroll-management {
  width: 300px;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: "(1fr)[12]";
  grid-template-columns: repeat(12, 1fr);
}

.chat-org-list {
  grid-column: span 1;
}

.chat-menu {
  grid-column: span 2;
}

.chat-box {
  grid-column: span 8;
}

.ant-tooltip-inner {
  color: black;
  background-color: white;
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow,
.ant-tooltip-placement-bottomLeft .ant-tooltip-arrow,
.ant-tooltip-placement-bottomRight .ant-tooltip-arrow {
  border-bottom-color: green;
}

.html,
body {
  height: 100%;
}

.chatbox-container {
  min-height: 100%;
  position: relative;
}

.chatbox-header {
  background: #ff0;
  padding: 10px;
}

.chatbox-body {
  padding: 10px;
  padding-bottom: 60px;
}

.chatbox-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
  background: #6cf;
}

@media only screen and (max-width: 900px) {
  .hidden-sidebar {
    display: none !important;
  }
  .show-menubar {
    display: block;
  }
  .dynamic-span-chatbox {
    -webkit-column-span: 24;
    column-span: 24;
  }
}

/* Typing Indicator Start*/
.ant-tabs-bar {
  margin: 0px;
}

.tiblock {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 17px;
}

.ticontainer .tidot {
  background-color: lightgray;
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 20px;
  display: inline-block;
  height: 7px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 7px;
}

@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

@keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px);
  }
  28% {
    -webkit-transform: translateY(-5px);
  }
  44% {
    -webkit-transform: translateY(0px);
  }
}

.tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
}

.tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
}

.tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
}

/* Typing Indicator End */
.todo-style {
  overflow: hidden;
  height: 65vh;
}

.todo-style:hover {
  overflow-y: scroll;
}

.profile-search .ant-input {
  background-color: #26273a;
  color: white;
}

.telegram-search .ant-input {
  background-color: #2e2e2e;
  color: white;
  border: none;
}

.telegram-search .ant-input:focus {
  border: solid 1px #00bcd4;
  outline: none;
}

.whatsapp-search .ant-input {
  border: none;
}

.whatsapp-search .ant-input:focus {
  border: solid 1px #00bcd4;
  outline: none;
}

.whatsapp-search-dark .ant-input {
  background-color: #121212;
  color: white;
  border: none;
}

.whatsapp-search-dark .ant-input:focus {
  border: solid 1px #00bcd4;
  outline: none;
}

.total-amount {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

.total-amount:hover {
  opacity: 1;
}

.liquid-amount {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

.liquid-amount:hover {
  opacity: 1;
}

.pooled-amount {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

.pooled-amount:hover {
  opacity: 1;
}

.side-total {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

.side-total:hover {
  opacity: 1;
}

.hover-background:hover {
  background-color: #f5f5f5;
}

.input-border {
  margin: 5px 0px;
  padding: 5px;
  border: solid 1px #002a51;
  border-radius: 4px;
  width: 100%;
}

.payment-carousel .control-arrow {
  background-color: transparent;
  background-size: 25px;
  width: 35px;
}

.payment-carousel .control-arrow::before {
  content: none;
}

.payment-carousel .control-arrow.control-prev {
  border-right: none;
  background-image: url(../images/payment-methods/prev.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.payment-carousel .control-arrow.control-next {
  border-right: none;
  background-image: url(../images/payment-methods/next.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.payment-carousel .slide {
  background: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.05;
}

.payment-carousel .slide img {
  margin: 20px auto;
  width: 80%;
  height: 50px;
}

.payment-carousel .slide.selected {
  opacity: 1;
}

.myeditor {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
}

.myeditor-tab {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 75vw;
}

/* Telegram Theme UI */
.list-item {
  color: white;
  cursor: pointer;
}

.dark-tabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  height: 40px;
  color: white;
  font-weight: bold;
  background: #121212;
  border-color: #2e2e2e;
  border: none;
  border-right: 1px solid #2e2e2e;
}

.dark-tabs
  .ant-tabs.ant-tabs-card
  .ant-tabs-card-bar
  .ant-tabs-tab
  .ant-tabs-close-x {
  color: white;
}

.dark-tabs .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  height: 40px;
  color: white;
  font-weight: bold;
  background: #2e2e2e;
  border: none;
}

.dark-tabs
  .ant-tabs.ant-tabs-card
  .ant-tabs-card-bar
  .ant-tabs-tab-active
  .ant-tabs-close-x {
  color: white;
}

.dark-tabs .ant-tabs-nav-scroll {
  background-color: #121212;
}

.action-buttons {
  margin: 0px 5px;
  padding: 10px 20px;
  border: 1px solid #e8eaef;
  text-align: center;
  font-weight: 600;
  color: #002a51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.action-buttons:hover {
  -webkit-box-shadow: 1px 1px 5px 0px #cec2ce;
  box-shadow: 1px 1px 5px 0px #cec2ce;
  cursor: pointer;
}

.coin-buttons {
  margin: 0px 5px;
  padding: 10px 20px;
  border: 1px solid #e8eaef;
  text-align: center;
  font-weight: 600;
  color: #002a51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.coin-buttons:hover {
  -webkit-box-shadow: 1px 1px 5px 0px #cec2ce;
  box-shadow: 1px 1px 5px 0px #cec2ce;
  cursor: pointer;
}

.mail-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 20px;
  color: white;
}

.mail-menu:hover {
  cursor: pointer;
  background: #e8f0fa;
  color: #162542;
}

.mail-menu-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  background: #e8f0fa;
  color: #162542;
}

.all-mail-list-item {
  cursor: pointer;
}

.all-mail-list-item:hover {
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}
/*# sourceMappingURL=myStyle.css.map */
