.titletext {
  color: #186ab4;
  font-size: 20px;
  margin: auto;
  margin-top: 6rem;
}
.meeting-ag {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat';
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    #meetingRoomID {
    }
    .join-srt-btn {
      text-align: center;
      width: 75%;
      margin-left: 15%;
      height: 65px;
      padding: 15px;
      background: #fe5777;
      border: 3px solid #fe5777;
      box-sizing: border-box;
      color: #fff !important;
      font-size: 1.2rem;
      margin-top: 6rem;
      font-weight: bold;
      font-family: 'Montserrat';
    }
  }
}

.theinput {
  border: none;
  margin-top: 1rem;
  font-size: 30px;
  margin-left: -86px;
  width: 150%;
  text-align: center;
  color: #186ab4;
}
.theinput::placeholder {
  font-size: 30px;
  margin-top: 1rem;
  // margin: auto;
  z-index: 1000;
  color: #186ab4;
  height: 150%;
  opacity: 0.35;
  padding: 10px;
}
.linktitle {
  font-size: 20px;
  text-align: center;
  color: #186ab4;
  margin-top: 7rem;
}
.meeting-btn-ag {
  border: 1px solid #186ab4;
  background: #ffffff;
  font-size: 14px;
  line-height: 17px;
  width: 240px;
  text-align: center;
  padding: 15px;
  margin-left: 17%;
  font-family: 'Montserrat';
  color: #186ab4;
  margin-top: 1.5rem;
}
.enterlink {
  font-size: 20px;
  font-family: 'Montserrat';
  color: #186ab4;
  text-align: center;
}
.thecpybtn {
  margin-right: 15px;
  float: right;
  margin-top: 3px;
}
.linkstyle {
  margin-top: 10px;
  display: flex;
  border: 0.5px solid #186ab4;
}
.btnmtng {
  width: 350px;
  display: flex;
}
.thelinkgen {
  margin-top: 1rem;
  background: white;
  border: 0.5px solid #186ab4;
  font-size: 20px;
  color: #186ab4;
  padding: 10px;
  width: 429px;
}
.thelinkgen:hover {
  text-decoration: underline;
}
.customize-link {
  bottom: 0;
  position: fixed;
  margin-bottom: 2rem;
  margin-left: 50px;
  h5 {
    color: #186ab4;
    font-size: 20px;
  }
}
.under-line {
  text-decoration: underline;
  font-weight: bold;
  color: #1f6bb4;
}
.meeting-Main {
  height: 100vh;
  width: 100vw;
  display: flex;
  .Main {
    height: 100%;
    width: 70%;
  }
  ._hidden {
    display: none;
  }
  ._80 {
    width: 70% !important;
  }
  ._100 {
    width: 100% !important;
  }
  .Sider {
    overflow: hidden;
    height: 100%;
    width: 30%;
    border: 1px solid rgb(221, 218, 218);
    .top-image {
      height: 15%;
      text-align-last: center;
      display: flex;
      img {
        width: 40%;
        height: 100%;
        margin-left: 23%;
      }
      .image-no {
        width: 5vw;
        // margin-left: 4vw;
        // margin-top: -43vh;
        left: 0px;
        margin-left: 3%;
      }
    }

    p {
      height: 3%;
      margin: 0px;
      text-align-last: center; 
      background-color: #186ab4;
      color: white;
    }
    .chatbox {
      height: 81.5%;
    }
  }
}

.get-btn {
  text-align: center;
  width: 100%;
  // margin-left: 5%;
  height: 65px;
  padding: 15px;
  background: #fe5777;
  border: 3px solid #fe5777;
  box-sizing: border-box;
  color: #fff !important;
  font-size: 1.2rem;
  margin-top: 6rem;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .meeting-ag {
    .wrapper {
      display: flex;
      flex-direction: column;
      margin: 11vw;
      overflow: hidden;
      #meetingRoomID {
        font-size: 3vw;
      }
      img {
        width: 60vw;
        align-self: center;
      }
      input {
        font-size: 4vw;
        &::placeholder {
          font-size: 4vw;
        }
      }
      p {
        font-size: 5vw;
        text-align: left;
        margin-top: 6vh !important;
      }
      .get-btn {
        margin-top: 15vh;
        text-align: center;
      }
    }
  }
  .meeting-Main {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    .Main {
      height: 100%;
      // width: 70%;
    }
    // ._80 {
    //   width: 100% !important;
    // }

    .Sider {
      height: 100%;
      overflow: hidden;
      width: 100vw;
      // width: 0%;
      border: 1px solid rgb(221, 218, 218);
      .top-image {
        height: 15%;
        text-align-last: center;
        img {
          width: 40%;
          height: 100%;
        }
      }
    }
  }
}
