.hide-options {
  position: relative;
  display: none;
  transition: 1s left;
  animation: move-right-people 0.3s 1 linear;
}
.show-options {
  animation: move-left-p 0.5s 1 linear;
}
.terminal-video-people {
  width: 25%;
  overflow: hidden;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  .terminal-video-people-header {
    height: 7%;
    overflow: hidden;
    width: 92%;
    text-align: right;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      padding-left: 7%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .terminal-video-people-body {
    height: 93%;
    width: 97%;
    overflow: scroll;
    padding: 4% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: baseline;
    .terminal-video-p {
      position: absolute;
      color: white;
      margin: 0px;

      z-index: 29;

      background: silver;
      color: black;

      margin: 1%;

      font-size: 0.9vw;
      padding: 1px;
      border-radius: 4px;
    }
    .terminal-video-individual-outer {
      width: 100%;
      height: 30%;
      .terminal-video-individual {
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        box-shadow: 0 0 10px #c8cbcf;
        &:hover {
          cursor: pointer;
        }
        .individual-bg-image {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
        .individual-first-letter {
          top: 50%;
          left: 50%;
          position: absolute;
          color: white;
          transform: translate(-50%, -50%);
        }
        div {
          z-index: 2;
          width: 100%;
          height: 20%;
          button {
            border: 0;
            font-size: 75%;
            padding: 3px 5px;
            margin-right: 5px;
            border-radius: 4px;
            color: white;
          }
          .first {
            background-color: #0f79da;
          }
          .second {
            background-color: rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }
}
@keyframes move-right-people {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 5%;
  }
}
@keyframes move-left-p {
  from {
    left: 30%;
  }
  to {
    left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .terminal-video-people {
    width: 50%;
    overflow: hidden;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    .terminal-video-people-header {
    }
    .terminal-video-people-body {
      .terminal-video-individual-outer {
        .terminal-video-individual {
          height: 20%;
        }
      }
    }
  }
}
