@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");

$bg-color: white;
.main-layout {
  font-family: "Montserrat", sans-serif;
  display: flex;
  .bets-dash-sider {
    background-color: $bg-color !important;
    max-height: 100vh;
    // overflow: scroll;
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid #ebebeb;
      .logo {
        cursor: pointer;
        height: 80px;
        display: flex;
        border-bottom: 1px solid #ebebeb;
        img {
          height: 100%;
          margin: auto 10px;
          margin-left: 10%;
          padding: 20px 0px;
        }
        &.true {
          img {
            margin: auto;
          }
          h2 {
            display: none;
          }
        }
      }
      .sider-contents {
        height: calc(100% - 80px);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 0;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        .group {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          padding: 20px 0;
          position: relative;
          h4 {
            font-size: 12px;
            margin-bottom: 0;
            color: black;
            letter-spacing: 0.1em;
            @media (min-height: 910px) {
              font-size: 15px;
              letter-spacing: 0em;
            }
          }
          .menu-itm {
            margin-top: 0.5rem;
            cursor: pointer;
            padding: 4px 25px;
            display: flex;
            opacity: 0.6;
            svg {
              margin: auto 0;
              height: 15px;
              width: 15px;
            }
            .circle {
              height: 12px;
              width: 18px;
            }
            h5 {
              margin: auto 0 auto 10px;
              font-size: 12px;
              line-height: 1.5;
              text-transform: capitalize;
              // color: white;
              @media (min-height: 910px) {
                line-height: 2;
                font-size: 15px;
              }
              @media (min-height: 980px) {
                line-height: 2.3;
              }
            }
            &.active {
              opacity: 1;
              color: black;
              font-weight: 900 !important;
            }
            &:hover {
              opacity: 1;
              background: lightgray;
            }
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 25px;
            right: 25px;
            height: 1px;
            background-color: #e5e5e5;
          }
          &:last-child {
            &::before {
              content: none;
            }
          }
        }
        .profile-logout {
          display: flex;
          padding: 12px 0;
          margin: 0 20px;
          .dp {
            height: 40px;
            width: 40px;
            border-radius: 25px;
            border: none;
            margin: auto 0;
          }
          .name {
            margin: auto 0;
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            h4 {
              margin: 0;
              line-height: 1;
              font-size: 15px;
            }
            a {
              margin: 0;
              line-height: 1;
              font-size: 14px;
              cursor: pointer;
              font-weight: normal;
              opacity: 1;
              color: black;
              &:hover {
                opacity: 0.8;
              }
            }
            .msg {
              position: relative;
              height: 28px;
              width: 28px;
              img {
                height: 100%;
                width: 100%;
              }
              .count {
                background-color: black;
                color: white;
                line-height: 1;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: bold;
                top: 0;
                right: 0;
                margin-top: -4px;
                margin-right: -4px;
                text-align: center;
                border-radius: 8px;
                font-size: 10px;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
        &.true {
          h4 {
            display: none;
          }
          .group {
            height: unset;
            flex-grow: unset;
            .menu-itm {
              margin: 0.5rem 0;
              h5 {
                display: none;
              }
              svg {
                margin: auto;
                transform: scale(1.5);
                @media (min-height: 900px) {
                  margin-top: 8px;
                }
                @media (min-height: 1000px) {
                  margin-top: 10px;
                }
              }
            }
            &::before {
              content: "";
              left: 0;
              right: 0;
            }
          }

          .profile-logout {
            display: flex;
            margin: 0 auto;
            .dp {
              height: 50px;
              width: 50px;
              border-radius: 25px;
            }
            .name {
              display: none;
            }
          }
        }
      }
      .sider-contents::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .site-layout {
    height: 100vh;
    overflow: hidden;
    max-height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f6f8f9;
    nav {
      .divider {
        border-left: 2px solid #ebebeb;
        height: 70%;
        margin: auto 0;
      }
      .bets-dash-navbar {
        display: flex;
        border-bottom: rgba(204, 204, 204, 0.2) solid 2px;
        height: 80px;
        background-color: white;
        h2 {
          padding: 0 50px;
          line-height: 1;
          margin: auto 0;
          margin-left: 20px;
          font-weight: bold;
          font-size: 22px;
        }
        .members {
          padding: 0 20px;
          display: flex;
          .img-list {
            margin: auto 0;
            height: 40px;
            img {
              margin-right: -10px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              border: solid 1px white;
            }
          }
          .add-member {
            margin: auto 0;
            margin-left: 30px;
            a {
              font-size: 17px;
              color: black;
              font-weight: bold;
              line-height: 1;
            }
          }
        }
        .private {
          cursor: pointer;
          width: 130px;
          margin: auto 20px auto auto;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          h5 {
            margin: auto;
            line-height: 1;
            font-size: 14px;
          }
        }
        .fav {
          margin: auto 20px auto 0;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            color: goldenrod;
            margin: auto;
            line-height: 1;
          }
        }
        .menu {
          margin: auto 20px auto 0;
          border: 1px solid #d2d7e2;
          color: #32364f;
          height: 40px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            color: #32364f;
            margin: auto;
            line-height: 1;
          }
        }
        .vl {
          border-left: 6px solid green;
          height: 500px;
        }
        .notifications {
          position: relative;
          margin: auto 20px;
          font-size: 30px;
          svg {
            transform: rotate(15deg);
            color: #186ab4;
          }
          .count {
            position: absolute;
            top: 0;
            right: -5px;
            background-color: #186ab4;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;
            font-size: 10px;
            text-align: center;
          }
        }
        .new-project {
          margin: auto 20px auto 0;
          background-color: #186ab4;
          height: 40px;
          width: 150px;
          padding: 0 12px;
          display: flex;
          border-radius: 8px;
          h5 {
            display: flex;
            color: white;
            margin: auto;
            line-height: 1;
            font-size: 12px;
          }
        }
      }
      .nav-bottom {
        display: flex;
        background: #ffffff;
        box-shadow: -1px 1px 2px 0px rgba(204, 204, 204, 1);
        height: 50px;
        .tab {
          height: 100%;
          margin-left: 50px;
          display: flex;
          .tab-itm {
            cursor: pointer;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h6 {
              padding: 0 20px;
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              font-size: 12px;
              line-height: 1;
              font-weight: 600;
              margin: 0;
              color: rgba(0, 10, 0, 0.5);
            }
            &::after {
              transition: 300ms ease all;
              margin-top: auto;
              content: "";
              height: 3px;
              border-radius: 2px;
              background-color: #186ab4;
              width: 0;
            }
            &.true {
              h6 {
                color: #186ab4;
              }
              &::after {
                width: 100%;
              }
            }
          }
        }
        .boards {
          display: flex;
          font-size: 12px;
          font-weight: 500;
          line-height: 1;
          margin: 0 20px;
          svg {
            margin: auto 0;
            height: 20px;
            width: 20px;
          }
          .itm {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          &.active {
            font-weight: bold;
          }
        }
      }
    }
    .content-container::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .content-container {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
.ant-dropdown {
  background: none;
  border-radius: 5px;
  padding: 2px;
  .drop-down-menu {
    background: none;
    border-radius: 5px;
    padding: 0;
    .ant-dropdown-menu-item {
      padding-left: 16px;
      border-radius: 5px;
      margin-bottom: 4px;
      font-size: 18px;
    }
  }
}
.size-adj {
  position: absolute;
  // width: 82px;
  height: 9px;
  left: 213px;
  top: 36px;
  font-family: Montserrat;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: right;
  opacity: 0.7;
  font-size: 12px;
  color: black;
  @media (min-height: 910px) {
    left: 150px;
    font-size: 15px;
  }
}
.icon-sty {
  width: 22.5px;
  height: 22.5px;
  margin: auto;
  opacity: 0.8;
  cursor: pointer;
  &.active {
    opacity: 1;
  }
}

.custrel-sty {
  overflow: scroll;
  max-height: 115px !important;
  @media (min-height: 900px) {
    max-height: 136px !important;
  }
  @media (min-height: 1000px) {
    max-height: 160px !important;
  }
}
.custrel-sty::-webkit-scrollbar {
  display: none;
}
.custrel-sty {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ant-drawer-right {
  top: 131px !important ;
}
.ant-drawer-body {
  margin-bottom: 210px !important;
  // padding:0 24px 0 24px !important;
}

.main-layout
  .bets-dash-sider
  .ant-layout-sider-children
  .sider-contents
  .grp-sty::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px !important;
  right: 0px !important;
  height: 1px;
  background-color: white;
}
.ant-card-bordered {
  border: none !important;
}

.ant-drawer-mask {
  left: 280px !important ;
  background-color: #3e4553 !important;
}
.thedisplayq {
  opacity: 0 !important;
  cursor: default !important;
}
.thesideicon {
  opacity: 0 !important;
  cursor: default !important;
}
.theexpdis {
  display: none;
}
.vl1 {
  border-left: 2px solid #ebebeb;
  height: 70%;
  margin: auto 0;
  margin-left: auto;
}
.tabs-styles {
  display: flex;
  padding: 5px;
  min-width: 20px;
  width: 260px;
  align-items: center;
  height: 100%;
  position: relative;
  border-right: 0.5px solid #d9d9d9;
  span {
    position: absolute;
    top: -5px;
    right: 5px;
    padding: 5px;
    color: #c3c3c3;
    z-index: 2;
    cursor: pointer;
  }
  div {
    height: auto;
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    min-width: 50px;
    max-width: none;
    overflow: hidden;
    padding: 8px;
    h5 {
      font-family: "montserrat";
      font-size: 13px;
      font-weight: bold;
      color: #000a00;
      margin-bottom: 0;
    }
  }
}
.tabsimg {
  margin-right: 10px;
  height: 20px;
  margin-top: 27px;
  margin-left: 10px;
  cursor: pointer;
  // width: 20px;
}
.tabsimg1 {
  margin-right: 10px;
  height: 20px;
}
.plusicon {
  height: 100%;
  width: 4.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(115, 115, 115, 0.5);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
}
.thetabs-align {
  max-width: 92.5%;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.tabsplus-align {
  height: 100%;
  width: 70%;
  display: flex;
}
.inverted {
  filter: brightness(0.5) !important;
  margin-right: 10px;
  width: 25px;
}
.tabSelected {
  background-color: lavender !important;
  color: #fff !important;
}
.theactiveclr {
  color: cornflowerblue !important;
}
.thegoogle-ico {
  margin: auto 50px auto 20px;
  display: flex;
  cursor: pointer;
}
.market-place-drawer1 {
  width: 25%;
  height: 100%;
  right: 0;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  animation: move-left-drawer linear 0.3s 1;
  font-family: Montserrat;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (min-width: 767px) and (max-width: 1045px) {
    width: 30%;
  }
}
.ant-drawer-content-wrapper {
  box-shadow: none !important;
  border-left: 1px solid lightgray !important;
}
// .header-profile1 {
//   font-size: 20px;
//   font-weight: 700;
//   color: #186ab4;
//   width: 200px;
//   margin-top: 2px;
// }
.the-account {
  margin: 30px;
  cursor: pointer;
  width: 110px;
  margin-bottom: 45px;
}
.under-line1 {
  margin-top: -2px;
  border-bottom: rgba(204, 204, 204, 0.2) solid 2px;
  margin-left: -22px;
  width: 115%;
}
.searchsty {
  border: none;
  margin-bottom: 11px;
  width: -webkit-fill-available;
  height: 20px;
}
.img-width {
  width: 35px;
}
.theimg-button {
  border: none;
  background: none;
}
.theimg-button:focus {
  outline: none;
}
